<!DOCTYPE html>
<html>
<head>
    <title>My FastAPI App</title>
    {% block css %}
        <!-- Link to your CSS file -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/sweetalert2.css') }}">
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    <div class="container">
        {% include "form_ml.html" %}
    </div>
    {% endblock %}
    {% block js %}
        <!-- Include your JS file -->
        <script src="{{url_for('static', path='/js/bootstrap.bundle.min.js')}}"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script src="{{url_for('static', path='/js/sweetalert2.all.min.js')}}"></script>
        <script src="{{url_for('static', path='/js/main.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    {% endblock %}
    {% if session_id in session %}
        {% if session[session_id]['first_login'] == 1 %}
            <script>
                Swal.fire({
                    title: 'API Key',
                    text: 'Note it carefully, one-time only: ' + '{{ session[session_id]['api_key'] }}',
                    icon: 'info',
                    confirmButtonText: 'Ok'
                }).then(() => {
                    $.ajax({
                      type: "POST",
                      url: '/remove_first_login'
                    });
                });

            </script>
        {% endif %}
    {% endif %}
</body>
</html>