<!-- form.html -->
{% if session_id in session %}

<form style="width: 50%;margin-left:25%" class="mt-5" method="post" enctype="multipart/form-data" action="/make_prediction">
    <h1 class="display-4 text-center mb-4">Customer Telecom Churn Prediction</h1>
    <div class="mb-3">
        <label for="tenureForm" class="form-label">Tenure (in months) </label>
        <img src="/static/images/info-icon-svgrepo-com.svg" alt="Description of SVG image" width="20" id="tenureInformation" height="20">
        <input type="text" class="form-control" id="tenureForm" name="tenureForm" placeholder="0" value="0" pattern="[0-9]+">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="genderSelect">Gender</label>
        </div>
        <select class="custom-select" id="genderSelect" name="genderSelect">
            <option value="Male" selected>M</option>
            <option value="Female">F</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="seniorCitizenSelect">Senior Citizen ? (over 65)</label>
        </div>
        <select class="custom-select" id="seniorCitizenSelect" name="seniorCitizenSelect">
            <option value="1">Yes</option>
            <option value="0" selected>No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="partnerSelect">Partner ?
                <img style="margin-left: 6px" src="/static/images/info-icon-svgrepo-com.svg" alt="Description of SVG image" width="20" id="partnerInformation" height="20">
            </label>
        </div>
        <select class="custom-select" id="partnerSelect" name="partnerSelect">
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="dependentsSelect">Dependents ?
                <img style="margin-left: 6px" src="/static/images/info-icon-svgrepo-com.svg" alt="Description of SVG image" width="20" id="dependantsInformation" height="20">
            </label>
        </div>
        <select class="custom-select" id="dependentsSelect" name="dependentsSelect">
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="phoneServiceSelect">Phone Service ?</label>
        </div>
        <select class="custom-select" id="phoneServiceSelect" name="phoneServiceSelect">
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="multipleLinesSelect">Multiple Lines ?</label>
        </div>
        <select class="custom-select" id="multipleLinesSelect" name="multipleLinesSelect">
            <option value="Yes">Yes</option>
            <option value="No phone service" selected>No phone service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="internetServiceSelect">Internet Service ?</label>
        </div>
        <select class="custom-select" id="internetServiceSelect" name="internetServiceSelect">
            <option value="DSL">DSL</option>
            <option value="Fiber optic">Fiber optic</option>
            <option value="No" selected>No</option>
        </select>
    </div>

     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="onlineSecuritySelect">Online Security ?</label>
        </div>
        <select class="custom-select" id="onlineSecuritySelect" name="onlineSecuritySelect">
            <option value="Yes">Yes</option>
            <option value="No internet service">No internet service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="onlineBackupSelect">Online Backup ?</label>
        </div>
        <select class="custom-select" id="onlineBackupSelect" name="onlineBackupSelect">
            <option value="Yes">Yes</option>
            <option value="No internet service">No internet service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="deviceProtectionSelect">Device Protection ?</label>
        </div>
        <select class="custom-select" id="deviceProtectionSelect" name="deviceProtectionSelect">
            <option value="Yes">Yes</option>
            <option value="No internet service">No internet service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="techSupportSelect">Tech Support ?</label>
        </div>
        <select class="custom-select" id="techSupportSelect" name="techSupportSelect">
            <option value="Yes">Yes</option>
            <option value="No internet service">No internet service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="streamingTVSelect">Streaming TV ?</label>
        </div>
        <select class="custom-select" id="streamingTVSelect" name="streamingTVSelect">
            <option value="Yes">Yes</option>
            <option value="No internet service">No internet service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="streamingMoviesSelect">Streaming Movies ?</label>
        </div>
        <select class="custom-select" id="streamingMoviesSelect" name="streamingMoviesSelect">
            <option value="Yes">Yes</option>
            <option value="No internet service">No internet service</option>
            <option value="No" selected>No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="contractTypeSelect">Contract Type</label>
        </div>
        <select class="custom-select" id="contractTypeSelect" name="contractTypeSelect">
            <option value="Month-to-month" selected>Month to month</option>
            <option value="One year">One Year</option>
            <option value="Two year">Two Years</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="paymentMethodSelect">Payment Method</label>
        </div>
        <select class="custom-select" id="paymentMethodSelect" name="paymentMethodSelect">
            <option value="Electronic check">Electronic Check</option>
            <option value="Mailed check">Mailed Check</option>
            <option value="Bank transfer (automatic)">Bank Transfer (automatic)</option>
            <option value="Credit card (automatic)" selected>Credit Card (automatic)</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="paperlessBillingSelect">Paperless Billing ?</label>
        </div>
        <select class="custom-select" id="paperlessBillingSelect" name="paperlessBillingSelect">
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="monthlyChargesForm" class="form-label">Monthly Charges</label>
        <input type="text" class="form-control" id="monthlyChargesForm" name="monthlyChargesForm" placeholder="0" value="0" pattern="[-,-.0-9]+">
    </div>

    <div class="mb-3">
        <label for="totalChargesForm" class="form-label">Total Charges</label>
        <input type="text" class="form-control" id="totalChargesForm" name="totalChargesForm" placeholder="0" value="0" pattern="[-,-.0-9]+">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <br><strong style="font-size:50px">OR</strong>
    <input style="display: inline;" type="file" id="templateFile" name="templateFile" onchange="checkfile(this)">
    <p style="display:inline;position:absolute;font-size: 1.2em;transform: translateX(-20em);"><a id="dlLink" href="/static/files/Churn Prediction Template.xlsx">Download the template</a></p>

</form>
{%else%}
    <p style="text-align: center;font-size: 6em" class="my-5">Please login before using the predictor !</p>
{%endif%}