{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Request Date</th>
            <th>Request Origin</th>
            <th>Request Details</th>
            <th>Request Prediction</th>
          </tr>
        </thead>
        <tbody>
          {% for row in history_rows %}
            <tr>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              {% if row[5] is none %}
                  <td><a href={{ row[6] }}><img src="/static/images/download-svgrepo-com.svg" alt="Download icon" width="20"></a></td>
              {% else %}
                  <td>{{ row[5] }}</td>
              {% endif %}

            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

{% endblock %}