{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Request Date</th>
            <th>Request Origin</th>
            <th>Request Details</th>
            <th>Request Prediction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>May 1, 2023</td>
            <td>Api</td>
            <td>Single Prediction</td>
            <td>1</td>
          </tr>
          <tr>
            <td>May 4, 2023</td>
            <td>Website</td>
            <td>Template Prediction</td>
            <td><img src="/static/images/download-svgrepo-com.svg" alt="Download icon" width="20"></td>
          </tr>
          <tr>
            <td>May 7, 2023</td>
            <td>Api</td>
            <td>Single prediction</td>
            <td>0</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>

{% endblock %}