<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4d5154">
    {% if session_id in session %}
        <a class="navbar-brand ms-2" href="#">Welcome, {{session[session_id]["username"]}}!</a>
    {% else %}
        <a class="navbar-brand ms-2" href="#">Welcome, guest!</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex justify-content-end"> <!-- Add ms-auto and justify-content-end classes here -->
        {% if session_id in session %}
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        {% endif %}


        </ul>
    </div>
</nav>